//menu-child-body
.menu-child-body {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100% !important;
    padding: 16px 0px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ngăn chữ vượt ra khỏi phần tử cha nếu nó quá dài */
    user-select: none;
}
.menu-child-body-element {
    padding: 0px 8px;
}
