.sidebar {
    --menu-child-shadow-color: rgba(0, 0, 0, 0.05);
    --tw-bg-opacity: 1;
    --menu-child-bg-color: rgb(255 255 255 / var(--tw-bg-opacity));
    display: flex;
    min-height: 100%;
    //width: var(--sidebar-icon-area-width);
    //
    z-index: 101;
    display: flex;
    overflow: hidden;
    transition: width 0.2s;
    //
    color: #fff;
}
.menu-parent {
    height: 100%;
    width: var(--sidebar-icon-area-width);
    background-color: var(--primary-color);
}
.menu-parent-logo {
    display: flex;
    height: var(--header-height);
    align-items: center;
    justify-content: center;
    background-color: #23769f;
}
.menu-parent-body {
    padding-top: 15px;
    padding-left: 8px;
    height: 100%;
}
// navigation
.list-menu {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.li-active {
    background-color: #fff !important;
    .icon-btn {
        color: black !important;
    }
    b:first-child {
        position: absolute;
        right: 0;
        top: calc(-1rem - 1px);
        display: block;
        width: 80%;
        background-color: #fff;
        height: calc(1rem + 2px);
        transition: 0.3s;
        &:before {
            position: absolute;
            top: -2px;
            right: 0;
            height: calc(100% + 1px);
            width: calc(100% + 1px);
            content: '';
            background-color: #002456;
            border-bottom-right-radius: 2rem;
            transition: 0.3s;
        }
    }
    b:nth-child(2) {
        position: absolute;
        right: 0;
        bottom: calc(-1rem - 1px);
        display: block;
        height: calc(1rem + 2px);
        width: 80%;
        background-color: #fff;
        transition: 0.3s;
        &:before {
            position: absolute;
            bottom: -2px;
            right: 0;
            height: calc(100% + 1px);
            width: calc(100% + 1px);
            content: '';
            background-color: #002456;
            border-top-right-radius: 2rem;
            transition: 0.3s;
        }
    }
}
.li-icon {
    position: relative;
    height: 54px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    .icon-btn {
        font-size: 20px;
        background: transparent;
        color: #fff;
    }
}
// menu-child
.menu-child {
    transition: width 0.3s;
    box-shadow: 10px 9px 15px var(--menu-child-shadow-color);
    z-index: 9;
    width: 240px;
    background-color: var(--menu-child-bg-color);
}
//header-logo
.header-logo {
    display: flex;
    height: var(--header-height);
    width: var(--sidebar-action-area-width);
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    transition-duration: 0.3s;
    box-shadow: 2px 0px 2px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo-img {
            width: auto;
            height: calc(var(--header-height) + (15px)); // trừ thêm thì ở đây
        }
    }
}
//menu-child-body
.menu-child-body {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100% !important;
    padding: 16px 0px;
}
.menu-child-body-element {
    padding: 0px 8px;
    .element-title {
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.85);
        font-size: 20px;
        text-align: left;
        background: #fff;
        outline: none;
        font-weight: bold;
        // không cho copy
        // user-select: none;
        // -webkit-user-select: none; /* Cho các trình duyệt Webkit (Safari, Chrome) */
        // -moz-user-select: none; /* Cho Firefox */
        // -ms-user-select: none; /* Cho Microsoft Edge */
    }
}
.group-list {
    width: 100%;
    padding: 10px 0px;
}
.group-child {
    padding: 13px 0px;
    padding-left: 6px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 10px;
    align-items: center;
    color: black;
    &:active {
        background-color: #e5e5e5 !important;
    }
    &:hover,
    &:visited {
        background-color: #e5e5e5 !important;
        color: var(--primary-color);
    }
}
// custom

.hidden {
    display: none;
}
