.wrapper {
    background-color: rgb(188, 252, 129);
}
.right-content {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}
.main-content {
    margin-top: var(--header-height);
    width: calc(100% - var(--sidebar-icon-area-width) - var(--sidebar-action-area-width));
    padding: 20px 10px;
    background-color: #f8f7f7;
}

.closed-sidebar {
    width: calc(100% - var(--sidebar-icon-area-width));
}
